{% extends 'edc_subject_dashboard/dashboard.html' %}
{% load edc_visit_schedule_extras %}
{% load flourish_dashboard_extras %}
{% load edc_subject_dashboard_extras %}
{% load static %}

{% block extra-scripts %}
    <script>

        function confirm_fu_enrollment(schedule_name) {
            let text = schedule_name.replace(/_/g, " ");
            text = text.charAt(0).toUpperCase() + text.slice(1).toLowerCase();
            let confirmAction = confirm(
                "Are you sure you want to enroll participant in the " + text + " schedule?");
            if (confirmAction && schedule_name === "follow_up") {
                window.location.href = "{% url child_dashboard_url subject_identifier %}fu_enrollment";
            } else if (confirmAction && schedule_name === "brain_ultrasound") {
                window.location.href = "{% url child_dashboard_url subject_identifier %}brain_ultrasound";
            } else {
                alert("Action cancelled");
            }
        }
    </script>

{% endblock extra-scripts %}

{% block other_special_buttons %}
    <table>
    	<tr>
			{% offstudy_alert caregiver_child_consent 'child_offstudy_model_obj' %}
		</tr>
        <tr>
        	{% if caregiver_child_consent %}
            	{% childcontinuedconsents_button caregiver_child_consent %}
            {% endif %}

            {% if fu_participant_note %}
                <td>
                    <button class="btn btn-sm btn-info" onclick="confirm_fu_enrollment(
                        'follow_up'
                    )">
                        Follow Up Enrol
                    </button>
                </td>
            {% endif %}
 
            {% if is_pf_enrolled %}
                <td>
                    {% pre_flourish_birth_data_button caregiver_child_consent %}
                </td>
            {% endif %}

            {% if show_brain_ultrasound_button %}
                <td>
                    <button class="btn btn-sm btn-info" onclick="confirm_fu_enrollment(
                    'brain_ultrasound'
                )">
                        Enrol Brain Ultrasound
                    </button>
                </td>
            {% endif %}
        </tr>
    </table>

{% endblock other_special_buttons %}

{% block schedule_button %}
    <span class="pull-right"><span class="text test-muted">
    <a href="{% url child_dashboard_url subject_identifier=subject_identifier %}"
       role="button" class="btn btn-sm btn-primary">
        <i class="fa fa-reply fa-fw" aria-hidden="true"></i> <i
            class="far fa-calendar fa-fw"></i> Schedule
    </a>
</span></span>
{% endblock schedule_button %}


{% block visit_schedules_panel %}
    {% for visit_schedule in visit_schedules.values %}
        {% for schedule in visit_schedule.schedules.values %}
            {% if schedule.name in schedule_names %}
                <div id="subject_dashboard_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}"
                     class="panel panel-{% if anonymous %}danger{% else %}info{% endif %}">
                    <div class="panel-heading">
                        <i class="far fa-calendar fa-lg fa-fw"></i>
                        <a data-toggle="collapse"
                           data-parent="#accordion_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}"
                           aria-hidden="true"
                           href="#subject_dashboard_appointments_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}">
                            {{ visit_schedule.verbose_name }} <i
                                class="fa fa-caret-right"></i> {{ schedule.verbose_name }}
                            <span class="caret"></span>
                        </a>

                        <span class="text text-default pull-right"><small>
			      
			      	{% appointment_in_progress subject_identifier visit_schedule schedule as visit_code %}

                            {% if visit_code %}
                                <i class="fa fa-spinner fa-fw" aria-hidden="true"
                                   data-toggle="tooltip"
                                   title="Appointment {{ visit_code }} is currently in progress"></i>
                                {{ visit_code }}
                            {% endif %}
			  	    
			  	  </small></span>


                    </div>

                    <div id="subject_dashboard_appointments_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}"
                         class="panel-collapse collapse {% if visit_code != None %}in{% endif %}">


                        {% block appointments %}
                            {% include "flourish_dashboard/child_subject/dashboard/appointments.html" %}
                        {% endblock appointments %}

                    </div>

                    {% block appointments_schedule_footer %}
                        {% subject_schedule_footer_row subject_identifier visit_schedule schedule child_dashboard_url %}
                    {% endblock appointments_schedule_footer %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock visit_schedules_panel %}


{% block dashboard_schedule_footer %}
    {% subject_schedule_footer_row subject_identifier current_visit_schedule current_schedule child_dashboard_url %}
{% endblock dashboard_schedule_footer %}


{% block locator_information %}{% endblock locator_information %}

{% block top_bar %}

    {% include "flourish_dashboard/child_subject/dashboard/top_bar.html" %}

{% endblock top_bar %}


{% block side_bar %}
    {% include 'flourish_dashboard/child_subject/dashboard/sidebar.html' %}

    {% if young_adult_locator_wrapper %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    <i class="fa fa-info-circle fa-lg fa-fw"></i> Locator Info
                </h6>
            </div>

            {% include "flourish_dashboard/child_subject/dashboard/locator_info.html" %}
        </div>
    {% endif %}


{% endblock side_bar %}