{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load flourish_dashboard_extras %}

{% block listboard_panel %}
	{{ block.super }}
	<a class='btn btn-primary btn-sm pull-right' href='{% url listboard_filter_url %}{% if querystring %}{{ querystring }}&export=True{% else %}?export=True{% endif %}' style='margin-right:5px'>
		Export
	</a>
{% endblock listboard_panel %}

{% block listboard_table_header %}

    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Identifier</th>
    <th>Subject</th>
    <th>Age</th>
    <th>Assent Date</th>
    <th>Enrollment Cohort</th>
    <th>Current Cohort</th>
    <th>Off-study Eligible</th>
    <!-- end results header -->

{% endblock listboard_table_header %}

{% block listboard_table_button_column %}
<td style="white-space: nowrap">
<div class="btn-group">
    {% child_dashboard_button result %}
</div>
</td>
{% endblock listboard_table_button_column %}

{% block listboard_table_columns %}

    <td>{{ result.object.subject_identifier }}
    </td>
    <td>
       {% if result.gender == 'M' %}
           <i class="fa fa-male fa-lg"></i>
       {% else %}
           <i class="fa fa-female fa-lg"></i>
       {% endif %}
       {{ result.child_name_initial }}
    </td>
    <td>{{ result.child_age }} Yrs</td>
    <td>{{ result.assent_date }}</td>
    <td>{{ result.enrol_cohort }}</td>
    <td>{{ result.current_cohort }}</td>
    <td>{{ result.eligible_for_protocol_completion }}</td>

{% endblock listboard_table_columns %}
