{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load flourish_dashboard_extras %}


{% block listboard_table_header %}

    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Identifier</th>
    <th>Subject</th>
    <th>Age</th>
    <th>Assent Date</th>
    <th>Enrollment Cohort</th>
    <th>Age Up Cohort</th>
    <!-- end results header -->

{% endblock listboard_table_header %}

{% block listboard_table_button_column %}
<td style="white-space: nowrap">
<div class="btn-group">
    {% child_dashboard_button result %}
</div>
</td>
{% endblock listboard_table_button_column %}

{% block listboard_table_columns %}

    <td>{{ result.object.subject_identifier }}
    </td>
    <td>
       {% if result.gender == 'M' %}
           <i class="fa fa-male fa-lg"></i>
       {% else %}
           <i class="fa fa-female fa-lg"></i>
       {% endif %}
       {{ result.child_name_initial }}
    </td>
    <td>{{ result.child_age }} Yrs</td>
    <td>{{ result.assent_date }}</td>
    <td>{{ result.get_cohort }}</td>
    <td>No Value yet</td>

{% endblock listboard_table_columns %}
