{% if wrapped_assents %}
    <div class="btn-group">

        <button title="{{ title|default:'Assents' }}" type="button"
                class="btn {% if unsaved %} btn-warning {% else %} btn-success {% endif %} btn-sm dropdown-toggle"
                data-toggle="dropdown">
            {{ wrapped_assents|length }} Child Assent(s) <i class=""></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">{{ title|default:'Assent' }}</li>
            {% for assent in wrapped_assents %}
                <li>
                    <a href="{{ assent.get_absolute_url }}?next={{ assent.next_url }}&{{ assent.querystring }}">
              			{% if assent.id %}
              				<small><i class="fa fa-check-circle" aria-hidden="true" style='color:green'></i></small>
              			{% else %}
              				<small><i class="fa fa-times-circle" aria-hidden="true" style='color:red'></i></small>
              			{%endif%}
                        <small>{{ assent.subject_identifier }},
                            ID: {{ assent.identity }} (v{{assent.version}})</small>
                        {% if not assent.is_eligible %}
                        	<small>{{ assent.ineligibility }}</small>
                        {% endif %}
                    </a>

                </li>
            {% endfor %}
        </ul>
    </div>
    <br>
{% endif %}