{% if wrapped_continued_consents %}
    <div class="btn-group">
        <button title="{{ title|default:'Continued Consents' }}" type="button"
                class="btn {% if unsaved %} btn-warning {% else %} btn-success {% endif %} btn-sm dropdown-toggle"
                data-toggle="dropdown">
            {{ wrapped_continued_consents|length }} Child Continued Consents(s) <i class=""></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">{{ title|default:'Continued Consents' }}</li>
            {% for continued_consent in wrapped_continued_consents %}
                <li>
                    <a href="{{ continued_consent.href }}">
              			{% if continued_consent.id %}
              				<small><i class="fa fa-check-circle" aria-hidden="true" style='color:green'></i></small>
              			{% else %}
              				<small><i class="fa fa-times-circle" aria-hidden="true" style='color:red'></i></small>
              			{%endif%}
                        <small>{{ continued_consent.subject_identifier }},
                            ID: {{ continued_consent.identity }} (v{{continued_consent.version}})</small>
                        {% if not continued_consent.is_eligible %}
                        	<small>{{ continued_consent.ineligibility }}</small>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <br>
{% endif %}