{% extends "edc_subject_dashboard/dashboard/appointments.html" %}
{% load edc_subject_dashboard_extras %}


<!--begin unscheduled appointment -->
{% block unscheduled_appt %}
    {% if wrapped.object.next_by_timepoint or wrapped.object.visit_code in in_person_visits %}
        {% if not wrapped.disabled and wrapped.object.visit_code_sequence == 0 %}
            {% if wrapped.appt_status == INCOMPLETE_APPT or wrapped.appt_status == COMPLETE_APPT %}
                <a id="uscheduled_appt_btn_{{ wrapped.visit_code }}_{{ wrapped.visit_code_sequence }}"
                   role="button" class="btn btn-sm btn-default"
                   href="{{ wrapped.unscheduled_appointment_url }}"
                   onclick="return confirm('Create unscheduled appointment?');">
                    <i class="far fa-address-book fa-lg" data-toggle="tooltip"
                       title="Add continuation / unscheduled appointment"
                       aria-hidden="true"></i>
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock unscheduled_appt %}

{% block appointment_actions %}
    {% if wrapped.appt_status == IN_PROGRESS_APPT %}
        {% with wrapped.wrapped_visit as visit %}
            {% if visit.id %}
                <a id="visit_report_btn_{{ wrapped.visit_code }}_{{ wrapped.visit_code_sequence }}"
                   role="button" class="btn btn-sm btn-default"
                   href="{{ visit.href }}">
                    <i class="fa fa-pencil-alt fa-sm"
                       aria-hidden="true"></i> Visit Report
                </a>
            {% endif %}

            {% forms_button wrapper=wrapped visit=visit %}

        {% endwith %}
    {% else %}
        {% comment %}
            This link goes to change the appointment instance
            for user to set appt_status == IN_PROGESS_APPT.
        {% endcomment %}
        {% if is_pf_enrolled and not is_pf_birth_data %}
            <a id="start_btn_{{ wrapped.visit_code }}_{{ wrapped.visit_code_sequence }}"
               role="button" data-toggle="tooltip"
               title="Disabled while pre flourish birth data crf is not filled"
               class="btn btn-sm btn-default" href="#">
                {% if wrapped.appt_status == NEW_APPT %}
                    Start
                {% elif wrapped.appt_status == IN_PROGRESS_APPT %}
                    Continue
                {% elif wrapped.appt_status == INCOMPLETE_APPT %}
                    Continue
                {% elif wrapped.appt_status == COMPLETE_APPT %}
                    <i class="fa fa-check fa-fw"></i>Done
                {% endif %}
            </a>
        {% elif not wrapped.disabled %}
            <a id="start_btn_{{ wrapped.visit_code }}_{{ wrapped.visit_code_sequence }}"
               role="button"
               data-toggle="tooltip"
               title="Start, continue or restart data collection for this timepoint."
               class="btn btn-sm btn-default"
               href="{{ wrapped.href }}">
                {% if wrapped.appt_status == NEW_APPT %}
                    Start
                {% elif wrapped.appt_status == IN_PROGRESS_APPT %}
                    Continue
                {% elif wrapped.appt_status == INCOMPLETE_APPT %}
                    Continue
                {% elif wrapped.appt_status == COMPLETE_APPT %}
                    <i class="fa fa-check fa-fw"></i>Done
                {% endif %}
            </a>
        {% else %}
            <a id="start_btn_{{ wrapped.visit_code }}_{{ wrapped.visit_code_sequence }}"
               role="button" data-toggle="tooltip"
               title="Disabled while another appointment is in progress."
               class="btn btn-sm btn-default" href="#">
                {% if wrapped.appt_status == NEW_APPT %}
                    Start
                {% elif wrapped.appt_status == IN_PROGRESS_APPT %}
                    Continue
                {% elif wrapped.appt_status == INCOMPLETE_APPT %}
                    Continue
                {% elif wrapped.appt_status == COMPLETE_APPT %}
                    <i class="fa fa-check fa-fw"></i>Done
                {% endif %}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
<!--end unscheduled appointment -->

{% block complete_appt %}
    {% if wrapped.appt_status == COMPLETE_APPT %}
        <a id="review_btn_{{ wrapped.visit_code }}_{{ wrapped.visit_code_sequence }}"
           role="button" class="btn btn-sm btn-default"
           href="{{ wrapped.forms_url }}?edc_readonly=1">
            <i class="fa fa-pencil-alt fa-sm" aria-hidden="true"></i> Review
        </a>
    {% endif %}
{% endblock %}