{% extends "edc_subject_dashboard/dashboard/appointments.html" %}



<!--begin unscheduled appointment -->
 {%block unscheduled_appt%}
	 {% if wrapped.object.next_by_timepoint or wrapped.object.visit_code == '1000M' %}
	   {% if not wrapped.disabled and wrapped.object.visit_code_sequence == 0 %}
	 	{% if wrapped.appt_status == INCOMPLETE_APPT or wrapped.appt_status == COMPLETE_APPT %}
	<a id="uscheduled_appt_btn_{{ wrapped.visit_code }}_{{ wrapped.visit_code_sequence }}" role="button" class="btn btn-sm btn-default" href="{{ wrapped.unscheduled_appointment_url }}" onclick="return confirm('Create unscheduled appointment?');">
	   <i class="far fa-address-book fa-lg" data-toggle="tooltip" title="Add continuation / unscheduled appointment" aria-hidden="true"></i>
	</a>
		{% endif %}
	  {% endif %}
	{% endif %}
{% endblock unscheduled_appt %}
<!--end unscheduled appointment -->