{% load edc_base_extras %}
{% load flourish_dashboard_extras %}

<div class="list-group">
    <a class="list-group-item"><i class="fa fa-birthday-cake fa-fw"></i>
        {{ consent.child_dob| date:"Y-m-d" }}
        {% get_age consent.child_dob %}

    </a>
    <a class="list-group-item"><i class="far fa-address-card fa-fw"></i>
        {{ identity|default:'?? identity' }}
        <span data-toggle="tooltip" data-placement="right"
              title="{{ firstname }} {{ lastname }}"
              class="text text-default">
            {% if caregiver_child_consent.child_birth %}

                {{ caregiver_child_consent.child_birth.first_name }}
                {{ caregiver_child_consent.child_birth.initials }}

            {% else %}

                {{ consent.child_name_initial }}

            {% endif %}

            <sup>
                <i
                        class="fa fa-asterisk fa-fw">
                </i>
            </sup>
        </span>
    </a>

    <a class="list-group-item">
        <i class="fa fa-users"></i>
        {{ consent.current_cohort|default:'?? Cohort'|readable_cohort|upper }}
        <span data-toggle="tooltip" data-placement="right" title="Cohorts"
              class="text text-default">
            <sup></sup>
        </span> |
<span data-toggle="tooltip" data-placement="right" title="Cohorts" class="text text-default">Consent Version {{child_version}}</span>

    </a>

</div>