{% extends 'edc_subject_dashboard/dashboard/sidebar.html' %}
{% load flourish_dashboard_extras %}

{% load edc_base_extras %}
{% load edc_prn_extras %}
{% load action_item_extras %}

{% block demographics %}

    {% include 'flourish_dashboard/child_subject/dashboard/demographics.html' %}

{% endblock demographics %}

{% block prn_forms %}   

	<div class="list-group list-group-default">

    {% add_action_item_popover subject_identifier child_dashboard_url %}
    
    {% if appointment %}
    	{% add_prn_crf_popover appointment.object child_dashboard_url %}
    	{% add_prn_requisition_popover appointment.object child_dashboard_url %}
    {% endif %}
    
	</div>
{% endblock prn_forms %}

{% block consents %}
{#    {% include 'edc_subject_dashboard/dashboard/sidebar/consents.html' %}#}
    <table class="table table-condensed">
        <thead></thead>
        <tbody>
        {% if caregiver_child_consent %}
            <tr>
                <td>
                    {% assent_button caregiver_child_consent %}
                </td>
            </tr>
        {% endif %}

        {% if caregiver_child_consent %}
            <tr>
                <td>
                    {% caregiver_child_consent_button caregiver_child_consent %}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>


{% endblock consents %}
