{% load flourish_dashboard_extras %}
<table class="table table-condensed">
    <thead></thead>
    <tbody>

    {% if child_dataset %}
     {% render_add_conditional 'child_dataset_button' child_dataset 'object' group_names%}
    {% endif %}

     {% render_add_conditional 'child_birth_button' caregiver_child_consent 'child_birth_model_obj' group_names%}

    {% if young_adult_locator_wrapper %}

    {% render_add_conditional 'young_adult_locator_button' young_adult_locator_wrapper 'object' group_names%}

    {% endif %}

    {% render_add_conditional 'assent_button' caregiver_child_consent 'assent_model_obj' group_names%}

    {% if caregiver_child_consent.show_tb_adol_assent_button %}
    {% render_add_conditional 'tb_adol_assent_button' caregiver_child_consent 'tb_adol_assent' group_names%}
    {% endif %}
    
    {% if caregiver_child_consent.child_offstudy %}
    {% render_add_conditional 'child_off_study_button' caregiver_child_consent 'child_offstudy_model_obj' group_names %}
    {% endif %}

    {% if tb_adol_referal %}
    {% render_add_conditional 'tb_adol_referal_button' tb_adol_referal 'object' group_names %}
    {% endif %}

    {% if caregiver_child_consent.child_death_report %}
    {% render_add_conditional 'child_death_report_button' caregiver_child_consent 'child_death_report_model_obj' group_names%}
    {% endif %}

    {% if is_tb_off_study %}
    {% render_add_conditional 'tb_offstudy_button' caregiver_child_consent 'tb_offstudy_model_obj' group_names %}
    {% endif %}


    {% if caregiver_child_consent.missed_birth_visit %}
    	{% render_add_conditional 'missed_birth_visit_button' caregiver_child_consent 'missed_birth_visit_model_obj' group_names %}
  	{% endif %}

 	{% if requires_continued_consent %}
 		{% render_add_conditional 'child_consent_version_button' caregiver_child_consent 'child_continued_consent_version_model_obj' group_names %}
 	{% endif %}
    </tbody>
</table>
