{% load static %}
{% load edc_visit_schedule_extras %}
{% load flourish_dashboard_extras %}
{% load edc_subject_dashboard_extras %}

{% for schedule in visit_schedule.schedules.values %}
 	  {% if schedule.name in schedule_names %}
		<div id="subject_dashboard_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}"
			class="panel panel-{% if anonymous %}danger{% else %}info{% endif %}">
		<div class="panel-heading">
		  <i class="far fa-calendar fa-lg fa-fw"></i> 
		      <a data-toggle="collapse" data-parent="#accordion_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}" aria-hidden="true"
		         href="#subject_dashboard_appointments_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}">
		         {{ visit_schedule.verbose_name }} <i class="fa fa-caret-right"></i> {{ schedule.verbose_name }} <span class="caret"></span>
		      </a>
		
		      <span class="text text-default pull-right"><small>
		      
		      	{% appointment_in_progress subject_identifier visit_schedule schedule as visit_code %}
		      
		      	{% if visit_code %}
				 <i class="fa fa-spinner fa-fw" aria-hidden="true" data-toggle="tooltip" title="Appointment {{ visit_code }} is currently in progress"></i> {{ visit_code }}
				{% endif %}
		  	    
		  	  </small></span>
		
		  
		</div>
		
		<div id="subject_dashboard_appointments_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}"
			class="panel-collapse collapse {% if visit_code != None %}in{% endif %}">
			

	{% block appointments %}
		{% include "flourish_dashboard/maternal_subject/dashboard/appointments.html" %}
	{% endblock appointments %}
	
	</div>
	
		{% block appointments_schedule_footer %}
	
			{% subject_schedule_footer_row subject_identifier visit_schedule schedule subject_dashboard_url %}
		{% endblock appointments_schedule_footer %}	
	</div>
   {% endif %}
  {% endfor %}