{% load flourish_dashboard_extras %}
<table class="table table-condensed">
    <thead></thead>
    <tbody>
    {% if subject_consent.locator_model_obj%}
            <tr>
                <td>
                    {% locator_button subject_consent %}
                </td>
            </tr>

        {% elif  'PI/Coordinator' not in group_names %}
            <tr>
                <td>
                    {% locator_button subject_consent %}
                </td>
            </tr>
        {% endif %}   
    {% if 'PI/Coordinator' not in group_names %}
        <tr>
            <td>{% caregiver_contact_button subject_consent %}</td>
        </tr>
     {% endif %}
     
     {% if is_latest_consent_version and  'PI/Coordinator' in group_names %}
        <tr>
            <td>{% consent_version_button subject_consent is_latest_consent_version %}</td>
        </tr> 
        {% elif 'PI/Coordinator' not in group_names %}
        <tr>
            <td>{% consent_version_button subject_consent is_latest_consent_version %}</td>
        </tr> 
        
     {% endif %}

    {% if screening_preg_women %}
        <tr>
            <td>
                {% screening_button screening_preg_women %}
            </td>
        </tr>
    {% endif %}
    {% if maternal_dataset %}
        {% if subject_consent.caregiver_enrolment_info_obj %}
            <tr>
                <td>
                    {% caregiver_enrolment_info_button subject_consent %}
                </td>
            </tr>
        {% elif 'PI/Coordinator' not in group_names %}
            <tr>
                <td>
                    {% caregiver_enrolment_info_button subject_consent %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>
                {% maternal_dataset_button maternal_dataset %}
            </td>
        </tr>
        {% if maternal_dataset.screening_model_obj %}
            <tr>
                <td>
                    {% screening_button maternal_dataset %}
                </td>
            </tr>
        {% elif 'PI/Coordinator' not in group_names  %}
            <tr>
                <td>
                    {% screening_button maternal_dataset %}
                </td>
            </tr>
        {% endif %}

        {% if subject_consent.bhp_prior_screening_model_obj%}
        <tr>
            <td>
                {% bhp_prior_screening_button subject_consent%}
            </td>
        </tr>
        {% elif 'PI/Coordinator' not in group_names %}
        <tr>
            <td>
                {% bhp_prior_screening_button subject_consent%}
            </td>
        </tr>
        
        {% endif %}
    {% endif %}
    {% if subject_consent.tb_consent_model_obj %}
        <tr>
            <td>
                {% tb_consent_button subject_consent %}
            </td>
        </tr>
    {% endif %}

    {% if result.tb_adol_screening_model_obj or tb_adol_huu_limit_reached and 'PI/Coordinator' not in group_names%}
        <tr>
            <td>
                {% tb_adol_screening_button subject_consent %}
            </td>
        </tr>
    {% endif %}

    {% if tb_adol_eligibility %}
    <tr>
       <td>
           {% tb_adol_consent_button subject_consent %}
         </td>
     </tr>
     {% endif %}
    {% if tb_take_off_study %}
        <tr>
            <td>
                {% tb_offstudy_button subject_consent %}
            </td>
        </tr>
    {% endif %}

    {% if subject_consent.caregiver_offstudy %}
        <tr>
            <td>
                {% caregiver_off_study_button subject_consent %}
            </td>
        </tr>
    {% endif %}
    {% if subject_consent.caregiver_death_report %}
        <tr>
            <td>
                {% caregiver_death_report_button subject_consent %}
            </td>
        </tr>
    {% endif %}

    {% if subject_consent.facet_screening_obj and subject_consent.show_facet_screening%}
        <tr>
            <td>
                {% facet_screening_button subject_consent %}
            </td>
        </tr>

        {% elif 'PI/Coordinator' not in group_names and subject_consent.show_facet_screening %}
        <tr>
            <td>
                {% facet_screening_button subject_consent %}
            </td>
        </tr>
    {% endif %}
    {% if  subject_consent.facet_consent_obj and subject_consent.show_facet_consent %}
        <tr>
            <td>
                {% facet_consent_button subject_consent %}
            </td>
        </tr>
        {% elif 'PI/Coordinator' not in group_names and  subject_consent.show_facet_consent%}
            <tr>
                <td>
                    {% facet_consent_button subject_consent %}
                </td>
            </tr>
    {% endif %}

    </tbody>
</table>
