<div class="panel-group">
    <div class="panel" id="top_bar">
       <div class="panel-heading">

           <i class="far fa-user-circle fa-2x fa-fw"></i>

  	        <span class="pull-right">
  	          <a {% block close_url %}href="{% url subject_listboard_url %}?q={{ subject_identifier }}"{% endblock close_url %}
  	            role="button" class="btn btn-sm btn-primary">
  	                <i class="fa fa-reply fa-1x fa-fw" aria-hidden="true"></i></a>
  	        </span>

      </div>
   </div>
</div>
