{% extends 'edc_subject_dashboard/dashboard.html' %}
{% load static %}
{% load edc_visit_schedule_extras %}
{% load edc_subject_dashboard_extras %}
{% load flourish_dashboard_extras %}


{% block locator_information %}{% endblock locator_information %}

{% block dashboard_schedule_footer %}
	{% subject_schedule_footer_row subject_identifier current_visit_schedule current_schedule subject_dashboard_url %}
{% endblock dashboard_schedule_footer %}

{% block visit_schedules_panel %}

	{% if  visit_schedules|length > 1 and child_names %}
	  <ul class="nav nav-tabs">
	  	 {% for visit_schedule in visit_schedules.values %}
	       <li  {% if forloop.counter == 1 %} class="active" {% endif %}><a data-toggle="tab" href="#id_{{visit_schedule}}">{{child_names|get_item:visit_schedule.name }}</a></li>
	  	 {% endfor %}
	  </ul>
	  {% endif %}

	<div class="tab-content">
	 {% for visit_schedule in visit_schedules.values %}
		<div id="id_{{visit_schedule}}" class="tab-pane fade  {% if forloop.counter == 1 %} in active {% endif %}">
	   		{% include "flourish_dashboard/maternal_subject/dashboard/schedules.html" %}
	   	</div>
	 {% endfor %}
	</div>

{% endblock visit_schedules_panel %}

{% block top_bar %}

    {% include "flourish_dashboard/maternal_subject/dashboard/top_bar.html" %}

{% endblock top_bar %}


{% block side_bar %}

   		{% include 'flourish_dashboard/maternal_subject/dashboard/sidebar.html' %}

	{% if locator_obj %}
    <div class="panel panel-default">
      <div class="panel-heading">
          <h6 class="panel-title">
              <i class="fa fa-info-circle fa-lg fa-fw"></i> Locator Info
          </h6>
      </div>

        {% include "flourish_dashboard/maternal_subject/dashboard/locator_info.html" %}
  	</div>
  	{% endif %}

{% endblock side_bar %}